
<div class="container" id="home-container">
    <div class="row">
            <div class="col-12 card card-box" *ngFor="let item of taxProList">
              <div class="row">
                <div class="col-4">
                  <div class="img-placeholder">
                    <img src="../../assets/placeHolder.png">
                  </div>
                </div>
                <div class="col-8">
                  <div >
                    <h3>{{item.taxProName}}</h3>
                    <p><i class="fa-solid fa-user"></i></p>
                    <p><i class="fa-solid fa-dollar-sign"></i>{{item.ratePerHour}}</p>
                    <p><i class="fa fa-eye " style="cursor: pointer;" (click)="viewDetail(item.taxProId)"></i>View Details</p>
                  </div>
                </div>
              </div>
              
             

            </div>
    </div>
</div>

 

  
